<section class="page-section bg-primary portfolio" id="portfolio">
  <div class="container">
    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image--><!-- Masthead Heading-->
      <img class="img-fluid" src="assets/img/portfolio/rureadyforexam.png" alt="" />
    </div>

    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image--><!-- Masthead Heading-->
      <h3>Choose Professor </h3>
    </div>

    <!-- Portfolio Grid Items-->
      <div class="row">
          <!-- Portfolio Item 1-->
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
          <a routerLink="/examiner"><img src="assets/images/ansuman.png" class="img-circle" alt="Cinque Terre" style="height: 175px;"/></a>
        </div>
      </div>

    <div class="row">
      <!-- Portfolio Item 1-->
      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
        <a routerLink="/examiner/temp"><img src="assets/images/unknown.png" class="img-circle" alt="Cinque Terre" style="height: 175px;"/></a>
      </div>
    </div>

  </div>
</section>
