<!-- Footer-->
<footer class="footer text-center">
  <div class="container">
      <div class="row">
          <!--&lt;!&ndash; Footer Location&ndash;&gt;
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Location</h4>
              <p class="lead mb-0">2215 John Daniel Drive<br />Clark, MO 65243</p>
          </div>
          &lt;!&ndash; Footer Social Icons&ndash;&gt;
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Around the Web</h4>
              <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
          </div>
          &lt;!&ndash; Footer About Text&ndash;&gt;
          <div class="col-lg-4">
              <h4 class="text-uppercase mb-4">About Examsprep</h4>
              <p class="lead mb-0"> Help needed or any Comments?? EmailTo: mr.shailendra.shail@gmail.com </p>       </div>-->
      </div>
  </div>
</footer>
