<div class="container">
      <p>
        यह प्लेटफार्म उन लोगों के लिए है, जो जीवन में रुकना और हारना नहीं सीखा है।
        आप हमारे साथ जुड़ सकते हैं यदि आप यूपीएससी,बीपीएससी, नेट,जेआरएफ,बिहार दरोगा,एसएससी CGL, Railway या किसी अन्य प्रतियोगिता हेतु  प्रयासरत हैं।

        Arise Awake and
        Stop not till the Goal is acieved
      </p>
      <p>--डॉ. अंशुमान सुमन</p>
      <br/>
      <div class="panel panel-success adminpanel" style="margin-top: 0px;">
        <div class="panel-body">
          <div class="btn-group">
            <a href="/newexam" class="btn btn-info" role="button">Start Exam</a>
            <a routerLink="/oldexam" class="btn btn-info" role="button">Previous Exam</a>
          </div>
        </div>
      </div>

    <div class="container d-flex align-items-left flex-column">
      <p>Connect me</p>
      <a href="https://www.facebook.com/Dr-Anshuman-Suman-113924390307380" class="fa fa-facebook"></a>
      <a href="https://www.youtube.com/user/anshuman579" class="fa fa-youtube"></a>
      <a href="https://t.me/Dranshumansuman" class="fa fa-facebook"></a>
      <a href="https://www.facebook.com/Dr-Anshuman-Suman-113924390307380" class="fa fa-facebook"></a>
    </div>

    <div class="container d-flex align-items-left flex-column">
    </div>
</div>
